<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gercho.findmybuddies"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gercho.findmybuddies.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FindMyBuddiesActivity" />

        <service android:name=".services.UserService">
            <intent-filter>
                <action android:name="com.gercho.action.START_USER_SERVICE" />
                <action android:name="com.gercho.action.STOP_USER_SERVICE" />
                <action android:name="com.gercho.action.LOGIN" />
                <action android:name="com.gercho.action.REGISTER" />
                <action android:name="com.gercho.action.LOGOUT" />
                <action android:name="com.gercho.action.START_ADDITIONAL_SERVICES" />
            </intent-filter>
        </service>

        <service android:name=".services.BuddiesService">
            <intent-filter>
                <action android:name="com.gercho.action.START_BUDDIES_SERVICE" />
                <action android:name="com.gercho.action.PAUSE_BUDDIES_SERVICE" />
                <action android:name="com.gercho.action.RESUME_BUDDIES_SERVICE" />
                <action android:name="com.gercho.action.STOP_BUDDIES_SERVICE" />
                <action android:name="com.gercho.action.FORCE_UPDATING_BUDDIES_SERVICE" />
                <action android:name="com.gercho.action.SEARCH_FOR_NEW_BUDDIE" />
                <action android:name="com.gercho.action.REMOVE_EXISTING_BUDDIE" />
                <action android:name="com.gercho.action.GET_ALL_REQUESTS" />
                <action android:name="com.gercho.action.GET_ALL_NEW_REQUESTS" />
                <action android:name="com.gercho.action.SEND_BUDDIE_REQUEST" />
                <action android:name="com.gercho.action.RESPOND_TO_BUDDIE_REQUEST" />
                <action android:name="com.gercho.action.SEND_NEW_IMAGE" />
                <action android:name="com.gercho.action.GET_BUDDIE_IMAGES" />
                <action android:name="com.gercho.action.GET_CURRENT_SETTINGS" />
                <action android:name="com.gercho.action.SET_UPDATE_FREQUENCY" />
                <action android:name="com.gercho.action.SET_IMAGES_TO_SHOW_COUNT" />
                <action android:name="com.gercho.action.SET_BUDDIES_ORDER_BY" />
                <action android:name="com.gercho.action.SET_MEASURE_UNITS" />
            </intent-filter>
        </service>

    </application>

</manifest>
